
/* make a rainbow circle */

:root {
  --red: #ff0000;
  --orange: #ffa500;
  --yellow: #ffff00;
  --green: #008000;
  --blue: #0000ff;
  --purple: #800080;
}

#outer {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 25px solid var(--red);
  background-color: var(--orange);
}
#middle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: radial-gradient(closest-side, var(--green) 75%, var(--yellow) 75%);
}
#inner {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 25px solid var(--blue);
  background-color: var(--purple);
}



/* make a menu */

:root {
  --maroon: #6e072d;
  --maroon-light: #b90e4d;
  --white: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: var(--white);
  background-color: var(--maroon)
}
ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  display: flex;
  align-items: center;
  padding: 1em 1.5em;
  cursor: pointer;
  border-right: 2px solid var(--white);
}
li:last-child {
  border-right: none;
}
li:hover {
  background-color: var(--maroon-light)
}


/* make a pig! */

:root {
  --pink: #ffc0cb;
  --pink-dark: #f57187;
  --black: #000;
  --white: #fff;
}
.head {
  position: relative;
  width: 200px; 
  height: 200px;
  background: var(--pink);
  border-radius: 50%;
  margin-top: 20px;
  border: 5px solid var(--black);
}
.head > div:first-child {
  position: absolute;
  top: -10px;
  left: 0;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.ear {
  width: 50px;
  height: 50px;
  border: 5px solid var(--black);
  background-color: var(--pink);
  border-radius: 50%;
  z-index: -1;
}
.head > div:nth-child(2) {
  position: absolute;
  top: 40px;
  left: 0;
  width: calc(100% - 60px);
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.eye {
  position: relative;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 50%;
  border: 2px solid var(--black);
}
.pupil {
  height: 50%;
  width: 50%;
  background-color: var(--black);
  border-radius: 50%;
}
.nose {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  width: 100px;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--pink-dark);
  border-radius: 35%;
  border: 2px solid var(--black);
}
.nostril {
  height: 50%;
  width: 25%;
  background-color: var(--black);
  border-radius: 50%;
}


/* make an order form */

:root {
  --wrapper-border-radius: 12px;
  --wrapper-padding: 12px;
  --wrapper-background-color: #e0e0e0;

  --circle-width: 30px;
  --circle-radius: calc(var(--circle-width) / 2);
  --circle-border-width: 4px;
  --circle-bottom-margin: 8px;
  --circle-font-size: 24px;

  --selected-background-color: #279600;

  --divider-line-height: 4px;

  --product-offering-height: 40px;
  --product-offering-padding: 12px;
  --product-offering-vertical-margin: 12px;
  --product-offering-border-radius: 8px;
  --product-offering-left-border-size: 5px;

  --label-left-margin: 4px;
  --blue-product-color: #626ee3;
  --red-product-color: #890023;
  --orange-product-color: #f37f1b;
  --green-product-color: #11967e;

  --button-padding: 12px;
  --button-font-size: 16px;
  --button-border-radius: 8px;
  --button-background-color: #02203c;
}
#wrapper {
  position: relative;
  border-radius: var(--wrapper-border-radius);
  background-color: var(--wrapper-background-color);
  padding: var(--wrapper-padding);
}

ol {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0;
  text-align: center;
  list-style-type: none;
  counter-reset: items;
}
ol li {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
ol li::before {
  counter-increment: items;
  content: counter(items);
  width: var(--circle-width);
  height: var(--circle-width);
  font-size: var(--circle-font-size);
  border-radius: 50%;
  border: var(--circle-border-width) solid black;
  background-color: white;
  margin: 0 auto;
  margin-bottom: var(--circle-bottom-margin);
}
ol li::after {
  content: "";
  position: absolute;
  top: calc(var(--circle-radius) + var(--circle-border-width) - (var(--divider-line-height) / 2));
  left: calc(50% + (var(--circle-radius)));
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - var(--circle-width));
  height: var(--divider-line-height);
  background-color: black;
}
ol li:last-child::after {
  display: none;
}
.selected::before {
  color: white;
  background-color: var(--selected-background-color);
}

ul {
  padding: 0;
  list-style-type: none;
}
ul li {
  display: flex;
  align-items: center;
  height: var(--product-offering-height);
  padding: var(--product-offering-padding);
  margin: var(--product-offering-vertical-margin) 0;
  font-weight: bold;
  border-radius: var(--product-offering-border-radius);
  background-color: white;
}
ul li label {
  margin-left: var(--label-left-margin);
}

.blue-product {
  color: var(--blue-product-color);
  border-left: var(--product-offering-left-border-size) solid var(--blue-product-color);
}
.red-product {
  color: var(--red-product-color);
  border-left: var(--product-offering-left-border-size) solid var(--red-product-color);
}
.orange-product {
  color: var(--orange-product-color);
  border-left: var(--product-offering-left-border-size) solid var(--orange-product-color);
}
.green-product {
  color: var(--green-product-color);
  border-left: var(--product-offering-left-border-size) solid var(--green-product-color);
}

button {
  position: relative;
  left: 100%;
  transform: translateX(-100%);
  padding: var(--button-padding);
  color: white;
  font-size: var(--button-font-size);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
}




/* Notifications */

#wrapper {
  width: 280px;
  padding: 10px;
  border-radius: 10px;
  background-color: lightgrey;
}
h1 {
  text-align: center;
  text-decoration: underline;
  margin: 0;
}
img {
  height: 100px;
  width: 100px;
  border: solid 1px black;
  border-radius: 50%;
  grid-row: 1 / span 2;
}
p {
  margin: 0;
}
button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 1rem;
  background-color: #02203c;
}
.notifications {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.notification {
  display: grid;
  grid-template-rows: 5fr 1fr;
  grid-template-columns: 2fr 5fr;
  gap: 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
.user {
  font-weight: bold;
}
.time {
  grid-column: 2;
  justify-self: end;
  align-self: end;
  font-style: italic;
  font-size: 12px;
}










